/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: rgb(44,71,85);
  --padding-section: 60px;
  --background-section: #f6f6f6f6;
}
/*start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif; 
} 
/* End global rules  */

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* Start components */
    .special-heading {
      font-size: 100px;
      font-weight: 800;
      color: #ebeced;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0;
      letter-spacing: -6px;
    }
    .special-heading + p {
      text-align: center;
      margin-top: -30px;
      color: #797979;
    }
  /* End components */
  .header {
      padding: 20px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
  }
   .header .logo {
        width: 65px;
    }
    .header .links {
        position: relative;
        
    }
    .header .links .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        
    } 
    .header .links .icon span {
        background-color: #333;
        height: 2px;
       margin-bottom: 5px;
       transition: 0.3s;
       
    }
    .header .links .icon:hover span:nth-child(2) {
      width: 100%;
    } 
    .header .links .icon span:first-child {
        width: 100%;
    } 
    .header .links .icon span:nth-child(2) {
        width: 60%;
    } 
    .header .links .icon span:last-child {
        width: 100%;
    }
    .header .links ul {
      background-color: #f6f6f6;
      list-style: none;
      margin: 0px;
      padding: 0px;
      position: absolute;
      right: 0;
      width: 180px;
      top: calc(100% + 15px);
      display: none;
      z-index: 1;
    }
    .header .links:hover ul {
      display: block;
    }
    .header .links ul li:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
    .header .links ul::before {
      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #f6f6f6 transparent;
      position: absolute;
      right: 5px;
      top: -20px;
    }
    .header .links ul li a:hover {
      padding-left: 25px;
    }
    .header .links ul li a {
      display: block;
      text-decoration: none;
      color: #333;
      padding: 15px;
      transition: 0.3s;
    }
    /* End header */
    /* start landling */
    .landling {
      position: relative;
      background-image: url(../images/landing.jpg);
      background-size: cover;
      height: calc(100vh - 64px);
    }
    .landling .intro-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 320px;
      text-align: center;
    }
    .landling .intro-text h1 {
      margin: 0;
      color: var(--main-color);
      font-size: 50px;
      font-weight: bold;
    }
    /* End Landling */
    /* Start Features */
    .features {
      padding-top: var(--padding-section);
      padding-bottom: var(--padding-section);
      background-color: var(--background-section);
    }
    .features .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
      grid-gap: 20px;
    }
    .features .container .feat i{
      color: var(--main-color);
    }
    .features .container .feat {
      padding: 20px;
      text-align: center;
    }
    .features .container .feat h3 {
      font-weight: 800;
      margin: 30px 0;
    }
    .features .container .feat p {
     color: #777;
    line-height: 1.6;
    font-size: 17px;
    }
    /* End Features */
     /* Start Services  */
     .services {
      padding-top: var(--section-padding);
      padding-bottom: var(--section-padding);
     }
     .service-content {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       gap: 30px;
       margin-top: 100px;
     }
     .services .service-content .sur {
       display: flex;
       margin-bottom: 40px;
     }
     .services .service-content .sur i {
       color: var(--main-color);
       flex-basis: 60px;
     }
     .services .service-content .sur .text {
       flex: 1;
     }
     .services .service-content .sur .text h3 {
      margin-top: -25px;
      color: var(--main-color);
      padding-left: 53px;
     }
     .services .service-content .sur .text p {
       font-weight: 300;
       color: #444;
       line-height: 1.6;
     }
     .services .service-content .image {
       text-align: center;
       position: relative;
     }
     .services .service-content .image img {
       width: 260px;
     }
     .services .service-content .image::before {
       content: "";
       position: absolute;
       top: -50px;
       right: 0;
       background-color: var(--secondary-color);
      width: 100px;
      height: 125%;
      z-index: -1;
     }
     /* End Services  */
     /* Start portfolio */
     #port {
       padding-top: var(--padding-section);
       padding-bottom: var(--padding-section);
       background-color: var(--background-section);
     }
      .portfolio-content {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       gap: 30px;
       margin-top: 80px;
     }
      .card {
       background-color: white;
     }
      .card img {
       width: 100%;
     }
     .info {
       padding: 20px;
     }
     .info h3 {
      margin: 0;
     }
     .info p {
       color: #777;
       line-height: 1.6;
       margin-bottom: 0;
     }
     /* End portfolio */
     /* Start About */
     .about {
      padding-top: var(--padding-section);
      padding-bottom: calc(var(--padding-section) + 60px);
      
     }
     .about-content {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-top: 100px;
     }
     .about-content .image {
       position: relative;
       width: 250px;
       height: 375px;
     }
     .about-content .image img {
       max-width: 100%;
     }
     .about-content .image::before {
      content: "";
      position: absolute;
      width: 80px;
      height: calc(100% + 80px);
      top: -40px;
      left: -20px;
      background-color: #ebeced;
      z-index: -1;
     }
     .about-content .image::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 300px;
      border-left: var(--main-color) solid 80px;
      border-bottom: solid var(--main-color) 80px;
      top: -40px;
      right: -150px;
      z-index: -1;
     }
     .about .about-content .text {
       width: calc(100% - 500px);
     } 
     .about .about-content .text p:first-of-type {
       line-height: 2;
       font-weight: 50px;
       margin-bottom: 20px;
     }
     .about .about-content .text hr {
       display: inline-block;
       width: 50%;
       border-color: var(--main-color);
     }
     .about .about-content .text p:last-of-type {
       line-height: 2;
       font-weight: 50px;
       color: #777;
       margin-top: 20px;
     }
     /* End About */
     /* Start Contact */
     .contact
     {
      padding-top: var(--padding-section);
      padding-bottom: var(--padding-section);
      background-color: var(--background-section);
     }
     .contact .contact-content {
      text-align: center; 
      padding-top: var(--padding-section);
      padding-bottom: var(--padding-section);
     }
     .contact .contact-content .label {
       font-weight: 800;
       color: var(--secondary-color);
       letter-spacing: -1px;
       font-size: 35px;
       margin-bottom: 20px;
     }
     .contact .contact-content .link {
       font-weight: 800;
       font-size: 35px;
       color: var(--main-color);
       text-decoration: none;
       letter-spacing: -1px;
     }
     .contact .contact-content .social {
       margin-top: 30px;
     }
     .contact .contact-content .social i {
       color: var(--secondary-color);
       margin: 0 3px;
     }
     /* End Contact */
     /* start footer */
     .footer {
       text-align: center;
       background-color: var(--secondary-color);
       color: white;
       padding: 30px;
     }
     .footer span {
       color: var(--main-color);
       font-weight: bold;
     }
     /* End footer */

